.login-container {
  display: grid;
  place-items: center;
  color: white;
}

.login-card {
  background: rgba(255, 255, 255, 0.1);
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
