
.movie-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1); /* semi-transparent white */
  backdrop-filter: blur(30px); /* apply blur effect */
  border-radius: 15px;
  overflow: hidden;
  width: 100%;
  max-width: 800px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  color: white;
}

.movie-details-header {
  display: flex;
  gap: 20px;
}

.movie-img-container {
  height: 300px;
  overflow: hidden;
  margin-bottom: 20px;
}

.movie-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-info {
  width: 100%;

}

.movie-title {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 0px;
}

.movie-director {
  font-size: 1.5em;
  font-weight: 400;
}
.movie-date {
  font-size: 1.3em;
  font-weight: 400;
  color: rgb(151, 151, 151);
}

.movie-description {
  font-size: 1.2rem;

  line-height: 1.6;
  margin-bottom: 20px;
}

.release-date small {
  font-size: 1rem;
}

.action-buttons {
  display: flex;
  justify-self: flex-end;
  gap: 15px;
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn-add {
  background-color: #252525;
  color: #fff;
}

.btn-add:hover {
  background-color: #616161;
}

.btn-delete {
  background-color: #252525;
  color: #fff;
}

.btn-delete:hover {
  background-color: #616161;
}

/* Responsive Design */
@media (max-width: 768px) {
  .movie-info {
    padding: 15px;
    max-width: 90%;
  }

  .movie-title {
    font-size: 2rem;
  }

  .movie-description {
    font-size: 1rem;
  }
}

.review-section {
  color: white;
}

.review-card {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border: 1px solid white;
  border-radius: 10px;
  align-items: center;
}
